<div class="p-2 text-center">
  <div class="card">
    <div class="card-body">
      <h2>Welcome to Our Product Management System!</h2>

      <p class="lead">
        Explore the capabilities of our cutting-edge Product Management System, designed to streamline your experience.
      </p>

      <p>
        Whether you're an administrator or a regular user, our system offers an intuitive and user-friendly interface.
        Efficiently manage your products with powerful tools tailored to your needs.
      </p>

      <p>
        Use the search bar to quickly find specific products, view their details, and perform actions such as editing and deleting.
        Our goal is to simplify your product management tasks, providing a seamless and enjoyable experience.
      </p>

      <p>
        If you have administrative privileges, leverage advanced features like marking products as checked or unchecked.
        Enhance your control over the system and make data management a breeze.
      </p>

      <p class="text-dark-emphasis">
        Navigate through the menu or use the search bar to get started. Enjoy the journey of exploring and effortlessly managing your products!
      </p>
    </div>
  </div>
</div>
